<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hippo CarWash</title>
</head>
<body>
<p>Hello {{ user.name }} {{ user.last_name }}.</p>

{% if token %}
<p>
  Confirm: <a target="_blank" href="/user/{{ user.dni }}/confirm/{{ token }}">Click to confirm</a>
</p>
{% endif %}

</body>
</html>
